.dashnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: #1e1d1d; 

}

.dashnav .nav-left ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.5rem;
}

.dashnav .dash-nav-link {
  position: relative; 
  color: #aeb3b8;
  text-decoration: none;
  padding: 0.75rem 0.25rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

/* The underline effect element */
.dashnav .dash-nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0b93f5; 
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.dashnav .dash-nav-link:hover {
  color: #ffffff;
}

.dashnav .dash-nav-link:hover::after,
.dashnav .dash-nav-link.active::after {
  transform: scaleX(1);
}

.dashnav .dash-nav-link.active {
  color: #ffffff;
  font-weight: 600;
}

.dashnav .dash-nav-link .icon {
  width: 20px;
  height: 20px;
}