.dashnav {
  background-color: #1a1a1a;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px 20px;
}

.nav-left ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-left li {
  margin: 0 15px;
}

.dashnav a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

#icon {
  width: 20px;
  margin-right: 6px;
}

.nav-right {
  display: flex;
  align-items: center;
}
