.Projects-section h1{
    margin: 25px;
}
.Projects-dash{
    background-color: #f4f1f1;
}
.Projects-buttons{
    margin: 20px;
}
.status-btn{
    background-color: white;
    color:#1088de;
    border: 1px solid #1088de;
    margin: 15px;
    border-radius: 25px;
    padding: 10px 65px;
}
.btn-completed{
    background-color: white;
    color:#1088de;
    border: 1px solid #1088de;
    margin: 15px;
    padding: 10px 65px;
}
.btn-archived{
    background-color: white;
    color:#1088de;
    border: 1px solid #1088de;
    margin: 15px;
    padding: 10px 65px;
}
.projects-list{
    margin: 25px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
}


.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid #1088de;
}
.card{
    border: 1px solid #1088de;
    height: 450px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-text{
    height: 120px;
}


.btn-clients{
    background-color:#0b93f5;;
    color: white;
    margin-right: 15px;
    padding: 15px 35px;
    border-radius: 25px;
    text-decoration: none;
}
.btn-ress{
    background-color:#d1cfcf;
    color:black;
    padding: 15px 35px;
    border-radius: 25px;
    text-decoration: none;
}
.btn-clients:hover{
    background-color:#1088de;
}
.btn-ress:hover{
    background-color: rgb(137, 135, 135);
    color: black;
}
.card-title{
    color:rgb(69, 68, 68);
    font-weight: bold;
}
.card-subtitle {
    color:#0b93f5;
}

.more-section{
    display: flex;
    align-items: center;
    margin-top: 35px;
    float:right;
  
}
