

#course-roadmap {
  opacity: 0;
  transition: opacity 2.5 ease-in;
}
#course-roadmap.loaded {
  opacity: 2;
}

/* roadmap.css */
.roadmap-wrapper {
  width: 100vw;
  height: 100vh;
  flex: 1;
  overflow: auto;
  position: relative;
}

/* optional: ensures the inner roadmap expands properly */
#course-roadmap {
  min-width: 2000px; /* or a large enough value */
  min-height: 1000px;
  position: relative;
}


.node-content {
  background-color: #262626;
  text-align: center;
  width: 240px;
  height: 235px;
  color:white;
}

.node-content h3 {
  font-size: 16px;
  margin-bottom: 8px;
}

.node-content p {
  font-size: 14px;
  margin-top: 8px;
 
}
.node-content iframe,
.node-content img {
  max-width: 240px;
  height: 113px;
  border-radius: 8px;
  margin-bottom: 10px;
}
.node-content h3 {
  font-size: 1rem;
  margin: 4px 0;
}
.node-content p {
  font-size: 0.875rem;
  color: #666;
}
